<section>
    <button (click)="gerarMissao()">Gerar Missão</button>
    <button (click)="deletarMissao()">Deletar Missão</button>
    @if (exiberMissao) {
    <h2>Missão - Ordem Paranormal</h2>
    <div class="missoes">
        <table>
        <tr>
            <th>Informante</th>
            <th>Responsável</th>
            <th>Ação 1</th>
            <th>Ação 2</th>
            <th>Local</th>
            <th>Situação</th>
            <th>Estado</th>
        </tr>
        <tr>
            <td>{{ informante }}</td>
            <td>{{ responsavel }}</td>
            <td>{{ acao1 }}</td>
            <td>{{ acao2 }}</td>
            <td>{{ local }}</td>
            <td>{{ situacao }}</td>
            <td>{{ estado }}</td>
        </tr>
        </table>
    </div>
    }
</section>