<section>
    <button (click)="gerarMissao()">Gerar Missão</button>
    <button (click)="deletarMissao()">Deletar Missão</button>
    <h2>Missão - Ordem Paranormal</h2>
    @if (exiberMissao) {
    <div class="missoes">
        <p>Informante: {{ informante }}</p>
        <p>Responsável: {{ responsavel }}</p>
        <p>Ação 1: {{ acao1 }}</p>
        <p>Ação 2: {{ acao2 }}</p>
        <p>Local: {{ local }}</p>
        <p>Situação: {{ situacao }}</p>
        <p>Estado: {{ estado }}</p>
    </div>
    }
</section>