<section>
    <button (click)="gerarNpc()">Gerar NPC</button>
    <button (click)="deletarNpc()">Deletar NPC</button>
    @if (deletar) {    
    <div class="tabela">
        <p>Nome: {{ nome }}</p>
        <p>Espécie: {{ especie }}, Classe: {{ classe }}</p>
        <p>Pontos de Vida: {{ pontosDeVida }}</p>
        <p>Força: <span class="att">{{ forca }}</span> / <span class="bonus">{{ bonusForca }}</span></p>
        <p>Destreza: <span class="att">{{ destreza }}</span> / <span class="bonus">{{ bonusDestreza }}</span></p>
        <p>Constituição: <span class="att">{{ constituicao }}</span> / <span class="bonus">{{ bonusConstituicao }}</span></p>
        <p>Inteligência: <span class="att">{{ inteligencia }}</span> / <span class="bonus">{{ bonusInteligencia }}</span></p>
        <p>Sabedoria: <span class="att">{{ sabedoria }}</span> / <span class="bonus">{{ bonusSabedoria }}</span></p>
        <p>Carisma: <span class="att">{{ carisma }}</span> / <span class="bonus">{{ bonusCarisma }}</span></p>
        <p>Perícias: {{ pericias }}</p>
    </div>
    }
</section>
