/* remove fundo branco da página */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000814;
}

/* ocupa 100% da tela */
:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;
  background-color: #000814;
  padding: 2em 1em;
  box-sizing: border-box;
}

/* select centralizado */
select {
  width: 60vw;
  margin: 7em auto 0 auto;
  max-width: 350px;
  height: 3em;

  background-color: #1c2541;
  color: #fff;
  border: none;
  outline: none;

  padding: 0 1em;
  font-size: 1em;
  cursor: pointer;

  border-radius: 4px;
  margin-bottom: 2em;
}

/* conteúdo (npc generator) ocupar espaço */
app-npc-generator,
app-npc-gerador-dnd {
  width: 100%;
  max-width: 900px;
}

/* texto */
p {
  color: #adb5bd;
  margin-top: 2em;
}