<section class="npcs-gerador">
    <button (click)="gerarNPC()">Gerar NPC</button>
    <button (click)="deletarNPC()">Deletar NPC</button>
    <h2>NPC - Ordem Paranormal</h2>

    @if (mostrarAtributos) {
    <div class="missoes">
        <p>Nome: {{ nome }} {{ sobrenome }}</p>
        <p>Idade: {{ idade }}</p>
        <p>Cargo: {{ cargo }}</p>
        <p>Personalidade: {{ personalidade }}, {{ personalidade2 }}</p>
        <p>Força: {{ forca }}</p>
        <p>Destreza: {{ destreza }}</p>
        <p>Vigor: {{ vigor }}</p>
        <p>Inteligência: {{ inteligencia }}</p>
        <p>Presença: {{ presenca }}</p>
        <p>Perícia: {{ pericia }}</p>
    </div>
    }
</section>