<section>
    <button (click)="gerarMissao()">Gerar Missão</button>
    <button (click)="deletarMissao()">Deletar Missão</button>
    <h2>Missão - D&D</h2>
    @if (exiberMissao) { 
    <div class="missoes">
        <p>Objetivo: {{ objetivo }}</p>
        <p>Contratante: {{ contratanteNome }}</p>
        <p>Classe Social do Contratante: {{ classeSocial }}</p>
        <p>Motivação: {{ motivacao }}</p>
        <p>Local: {{ local }}</p>
        <p>Situação: {{ situacao }}</p>
        <p>Recompensa: {{ recompensa }}</p>
    </div>
    }
</section>